{% extends "base.html" %}

{% block content %}
<div class="content-header">
    <h1>Activity History</h1>
</div>

<div class="content-body">
    <div class="devices-section">
        <div class="devices-table-wrapper">
            <table class="devices-table">
                <thead>
                    <tr>
                        <th>Who</th>
                        <th>What</th>
                        <th>When</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{ activity.user_ref.username }}</td>
                        <td>{{ activity.action }}</td>
                        <td>{{ activity.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
